::-webkit-scrollbar {
    display: none;
}

*{
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container-fluid{

}

img{
    width: 100%;
}

.active{
    font-weight: 900;
}